@use "../theme";

.pokemons {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  margin: 4px;
  padding: 4px;
  border-radius: 0.5rem;
  border: 1px solid theme.$background-color-dark;
}
