@use "./theme";
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap');

*,
*::after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(
    to bottom right,
    theme.$background-color-light,
    theme.$background-color-dark
  );
  height: 1000vh;
  font-size: 18px;
  font-family: 'Annie Use Your Telescope', Regular;
}
